.wrapper{
    margin: -15px;
    border-collapse: collapse;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}
.mainbody{

    margin: 0px;

    display: inline-block;
    text-align: left;

    width: 100%;

}
.aboutcont {
    background-color: #ddeaba;;

    opacity: 0.7;
    padding: 40px;
    /*
    */
    display: inline-block;

    align-content: center;
    text-align: center;
    /*width: 1000px;*/
    width: 100%;
    height: 100%;
    font-size: x-large;
}
.wrongLogin{
    color: #ed2030;
}
table {
    border-collapse: collapse;
    border: 0px solid black;
    margin: auto;
}
td {
    border: 1px solid black;
    text-align: left;
}
th{
    padding: 5px;
    border: 1px solid black;
    text-align: left;
}
.hiddenTD{
    border: 0px solid black;
}
.flags_EN{
    width: 45px;
    background-image: url(en_EN.png);

    background-repeat: no-repeat; /*Убираем повтор изображения*/
    background-position: 100%; /*Позиционируем*/
    outline: none; /*убираем стандартную обводку браузера*/
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
    border-radius: 5px; /*закругляем углы для остальных браузеров*/
    padding-left: 20px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
    height: 30px; /*высота строки ввода*/
    font-size: 13px; /*размер шрифта*/
}
.flags_UA{

    width: 45px;
    background-image: url(uk_UA.png);
    background-repeat: no-repeat; /*Убираем повтор изображения*/
    /*background-position: 100%; !*Позиционируем*!*/
    outline: none; /*убираем стандартную обводку браузера*/
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
    border-radius: 5px; /*закругляем углы для остальных браузеров*/
    padding-left: 20px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
    height: 30px; /*высота строки ввода*/
    font-size: 13px; /*размер шрифта*/
}
.flags{
    display: inline-block;
}
.indexTable td{
    border: 0;
}