.wrapper{
    margin: -15px;
    border-collapse: collapse;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}
.mainbody{

    margin: 0px;

    display: inline-block;
    text-align: left;

    width: 100%;

}
.userCabinetItem:first-child{
    float: left;
    width: 33%;
    margin-left: 40px;
}
.userCabinetItem:last-child{
    text-align: left;
    float: right;
    width: 40%;
    margin-right: 40px;
}

table {
    border-collapse: collapse;
    border: 0px solid black;
    margin: auto;
}
.HomeTable{
    margin: inherit;
}
ul{
    text-align: left;
}
.aboutcont {
    background-color: #ddeaba;;

    opacity: 0.7;
    padding: 40px;
    /*
    */
    display: inline-block;

    align-content: center;
    text-align: center;
    /*width: 1000px;*/
    width: 100%;
    height: 100%;
    font-size: x-large;
}
.wrongLogin{
    color: #ed2030;
}

td {
    border: 1px solid black;
    text-align: left;
}
th{
    padding: 5px;
    border: 1px solid black;
    text-align: left;
}
.hiddenTD{
    border: 0px solid black;
}
.flags_EN{
    width: 45px;
    background-image: url(en_EN.png);

    background-repeat: no-repeat;
    background-position: 100%;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-left: 20px;
    height: 30px;
    font-size: 13px;
}
.flags_UA{

    width: 45px;
    background-image: url(uk_UA.png);
    background-repeat: no-repeat;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-left: 20px;
    height: 30px;
    font-size: 13px;
}
.flags{
    display: inline-block;
}
.indexTable td{
    border: 0;
}
.adminMenu{
    float: right;
    margin-top: auto;
    width: 60%;
}
ul{
    padding-left: 45%;
}
/*li{*/
    /*padding-left: 45%;*/
/*}*/